@import url(main_color.css);

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
    align-content: center;

}

.container p {
    margin: 20px 0px 0px 0px;
    justify-content: center;
    border: none 1px black;
}


.main_write {
    border: none 1px black;
    width: 700px;
    height: 300px;
    justify-content: center;
    flex-wrap: wrap;
    display: block;
    align-items: flex-start;
    color: var(--mainblue-color);
    font-size: 13px;
    padding-right: 35px;
}

.main_write_ {
    line-height: 180%;
    font-weight: 500;
    padding-left: 10px;
}

.main_write p {
    letter-spacing: -2.2px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px 0px 5px 0px;
    justify-content: left;
	line-height: 50px;
}
.main_write_box {
	display: inline-block;
    background-color: var(--main-color);
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    border-radius: 30px/30px;
    text-align: center;

}
.main_write_box a{
    color: white;
}

.container>img {
	width: 1300px;
	height: auto;
	align-items: center;
	text-align: center;
}



footer div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 20px;
    color: rgb(206, 206, 206);
    font-size: 12px;
}

.main_write_box:hover {
    background-color: var(--point-color);
    color: white;
}

@media screen and (max-width: 1500px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_write div, p {
        justify-content: center;
    }
    .main_image {
        margin: 30px 0px 0px 0px;
    }
}